# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
docs/*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Ensime files
.ensime_cache
.ensime